.aboutSubheader {
    font-size: 3rem;
    font-weight: 300;
    color: #E0E0E0;
    width: 45vw;
    text-align: center;
    margin-top: 20px;
}

.generalHeader {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
    color: #00D8FF;
}

.myName {
    font-size: 2rem; 
    font-weight: 700; 
    color: #FFDD00;
    margin-bottom: 10px;
    border-bottom: 2px solid #FFDD00; 
    padding-bottom: 5px;
    display: inline-block;
}

.aboutMe {
    font-size: 1rem; 
    line-height: 1.5; 
    color: "#F5E1C8";
    width: 100%; 
    text-align: left;
    margin-top: 0; 
}

.resume {
    text-decoration: none;
    color: #FFDD00 ;
}

.resume:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh; 
}

.marquee {
    width: 100%;
    overflow: hidden; 
    display: flex; 
    justify-content: flex-start; 
}
  
.marquee-item {
    display: inline-block; 
    padding: 10px; 
    text-align: center;
    margin-right: 20px;
}
  
.marquee-img {
    width: 75px; 
    height: 75px;
    border-radius: 8px;
}

.imageCaption {
    margin-top: 8px; 
    font-size: 14px; 
    font-weight: bold;
    color: #333; 
    text-transform: capitalize; 
    text-align: center;
    color: #F5E1C8;
}
  
.aboutBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
    
    width: 100%;  
    max-width: 1000px;  
    height: 62vh;  
    
    margin: 20px auto; 
    padding: 20px;
    border-radius: 10px; 
    flex-wrap: wrap;

    /* outline: 4px solid blue;  */
    outline-offset: 5px; 
    
    border: 3px solid #F5E1C8; 
    border-radius: 10px;
    
    box-shadow: 5px 5px 15px #F5E1C8; 
    overflow: hidden;
}

.bolded {
    color: #FFDD00;
}

.text {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
}

.aboutMe {
    flex: 1;
    padding-right: 20px;
    font-size: 1.05rem;
}

.photo {
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default; 
    width: 300px;
    height: 100%; 
    overflow: hidden;
}

.profilePhoto {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
    border-radius: 10px; 
}

.profilePhoto:hover {
    transform: scale(1.05); 
    border-radius: 10px; 
}

  
@media screen and (max-width: 1200px) {
    .subheader {
        width: 60vw;
    }
}

@media screen and (max-width: 768px) {
    .subheader {
        width: 80vw;
    }
}

