/* 00D8FF */

/* .general-header {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
    color: #00D8FF;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh; 
} */
/* 
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

form {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px blue;
    color: red;
    margin: 25px;
}

form h2 {
    font-size: 30px;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}

.input-box .field{ 
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: black;
    margin-top: 8px;
}

.input-box .field.mess {
    height: 200px;
    resize: none;
}

form button {
    width: 100%;

    height: 55px;
    background: blue;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px red;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: 25px;

}

form button:hover {
    background-color: orange;
} */

.contact {
  padding-top: 120px;
  padding-bottom: 10vh;
  flex-direction: column;
}

.header {
  /* color: #00D8FF; */
  color: #F5E1C8;
  font-size: 5rem;
  font-weight: 700;
  margin: 0px;
  margin-top: 5vh;
  text-align: center;
}

.socialGroup {
  margin: auto auto;
  color: #F5E1C8;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.contact-sub {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;

  a:hover {
    color: blue;
    filter: brightness(200%);

  }

  svg {
    margin: 0px 10px;
    cursor: pointer;
  }
}


/* .icons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

a:hover {
    filter: brightness(130%);
}

svg {
    margin: 0px 10px;
    cursor: pointer;
} */

@media screen and (max-height: 600px) {
  .socialGroup {
    margin: 20px auto;
  }
}

@media screen and (max-width: 768px) {
  .icons {
    svg {
      width: 75px;
      height: 75px;
    }
  }
  .header {
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: auto;
  }
}