/* .hero-header {
  color: #00D8FF;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
}

.hero-subheader {
  font-size: 3rem;
  font-weight: 300;
  color: #E0E0E0;
  width: 45vw;
  text-align: center;
  margin-top: 20px;
} */

.hero-header {
  color: #00D8FF;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}

.hero-subheader {
  font-size: 2.2rem;
  font-weight: 300;
  color: #E0E0E0;
  width: 45vw;
  text-align: center;
  margin-top: 20px;
}

.asdf {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh; 
  height: 100vh; /* Full height */
  padding-bottom: 10rem;
}


@media screen and (max-width: 1200px) {
  .hero-subheader {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .hero-subheader {
    width: 80vw;
  }
}
