.general-header {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
    color: #00D8FF;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh; 
    height: 100vh; 
    padding-bottom: 10rem;
}

.technologies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem; 
}
  
.technology-item {
    height: 7rem; 
    width: 7rem;  
}
  
  