@import "tailwindcss";

/* 
  top level color schemes

  need to update

  background - #121212 - black
  titles - #00D8FF - cyan blue thing
  normal - #F5E1C8 - beige ish
  accent - #FFDD00 - goldish
  

  old scheme
  normal - #E0E0E0 - gray white
  accent 1 - #FF6E6E - red pink 
  accent 2 - #A970FF - lavender purple
  accent 3 - #FFD700 - yellow
  accent 4 - #9B59FF - purple

*/

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

section {
  min-height: 100vh; 
  padding: 0rem;
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; 
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  /* overflow-y: auto;  */
  scroll-snap-type: y mandatory; /* Y-axis snapping */
  overflow-y: scroll; /* Allow vertical scrolling */
  height: 100vh; /* Ensure the container is full screen height */
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; 
}


