@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oxanium:wght@200..800&display=swap');

:root {
  --font-heading: 'Anta', sans-serif;
  --font-body: "Oxanium", sans-serif;
  --color-bg-main: #2f404d;
  --color-text: #FFFFFF;
  --color-accent: #C9A635;
  --color-accent2: #c60c30;
  --color-shadow: rgba(158, 124, 12, 0.6);
  --color-title: #fff;

  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background: linear-gradient(135deg, #283349 0%, #0b1634 50%, #0F172A 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, a {
  font-family: var(--font-body); 
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); 
}
